level 2 workflow1 (corretto).json
{
  "name": "level 2 workflow1 (corretto)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -256,
        80
      ],
      "id": "015412ec-cf69-4448-86dd-1c88c272d7d6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNJ7w0e2W7d7N06",
          "mode": "list",
          "cachedResultName": "tab_costumers",
          "cachedResultUrl": "https://airtable.com/appNJ7w0e2W7d7N06"
        },
        "table": {
          "__rl": true,
          "value": "tblskNQgAFEZcBo63",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appNJ7w0e2W7d7N06/tblskNQgAFEZcBo63"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        0,
        192
      ],
      "id": "f3890bea-dac9-40b8-9e67-13aa9c595179",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "QqaozU9Ry6yGKrAe",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://restcountries.com/v3.1/all",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "name,region,subregion"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "d91fea10-e12c-449c-a553-93ec5a4878ad",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZmbhXxB6Vg4IvyC5",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "name.common",
              "field2": "customerCountry"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        96
      ],
      "id": "97e131c5-0443-4836-99b8-a4773835b19b",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appNJ7w0e2W7d7N06",
          "mode": "list",
          "cachedResultName": "tab_costumers",
          "cachedResultUrl": "https://airtable.com/appNJ7w0e2W7d7N06"
        },
        "table": {
          "__rl": true,
          "value": "tblskNQgAFEZcBo63",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "https://airtable.com/appNJ7w0e2W7d7N06/tblskNQgAFEZcBo63"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customerCountry": "={{ $json.name.common }}",
            "customerID": "={{ $json.customerID }}",
            "subregion": "={{ $json.subregion }}",
            "region": "={{ $json.region }}"
          },
          "matchingColumns": [
            "customerID"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        96
      ],
      "id": "461befbd-84d8-4e01-8c37-8850cb75802c",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "QqaozU9Ry6yGKrAe",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "07b0668f-f3c5-4420-9943-6a3767173c19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ae78bd46045c3a567c5c0fbdebdfa461677cad868110c56763fe9872c28c2ef"
  },
  "id": "lNIFv9IGve2CkUm9",
  "tags": []
}